{% extends "base.html" %}
{% load static %}

{% block title %}게시글 작성{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/BoardWrite.css' %}">

<div class="board-write-wrapper">
  <h2 class="board-title">게시글 작성</h2>

  <form method="post">
    {% csrf_token %}
    <input type="text" name="title" placeholder="제목" required><br>
    <textarea name="content" placeholder="내용" rows="10" required></textarea><br>
    <button type="submit">작성하기</button>
  </form>
</div>

{% endblock %}
