/* static/css/comment_edit.css */
.edit-comment-wrapper {
    width: 60%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  .edit-comment-wrapper textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }
  .btn-submit, .btn-cancel {
    margin-top: 10px;
    padding: 8px 12px;
  }
  