{% extends "base.html" %}
{% load static %}

{% block title %}댓글 수정{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/comment_edit.css' %}">
{% endblock %}

{% block content %}
<div class="edit-comment-wrapper">
  <h2>댓글 수정</h2>

  <form method="POST">
    {% csrf_token %}
    <textarea name="content" rows="4" cols="60">{{ comment.content }}</textarea><br>
    <button type="submit" class="btn-submit">수정 완료</button>
    <a href="{% url 'post_detail' comment.post.id %}" class="btn-cancel">취소</a>
  </form>
</div>
{% endblock %}
