# Virtual environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]

# Environment / secrets
.env
.env.local
.env.production

# DB / backup
db.sqlite3
sqlite_backup.json
db_backup_before_mariadb.sqlite3
db_before_migration.sqlite3

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Logs
*.log